<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Developer_RequestPrice::request" title="Request" translate="title" sortOrder="15">
                <resource id="Developer_RequestPrice::request_save" title="Save Request" translate="title" sortOrder="10"/>
                <resource id="Developer_RequestPrice::request_delete" title="Delete Request" translate="title" sortOrder="20"/>
            </resource>
        </resources>
    </acl>
</config>
