<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Developer_Blog::blog"
             action="developer_blog/index/index"
             title="Blog"
             module="Developer_Blog"
             sortOrder="110"
             resource="Developer_Blog::blog"
             parent="Magento_Backend::content_elements"/>
    </menu>
</config>
